.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 2rem;
    background-color: rgb(252, 252, 250);
}
  

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    border: solid rgb(165, 165, 242) 1px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}
  
.form h2 {
    margin-bottom: 1rem;
}
  
  
.form  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1rem;
}
  
.form  input:hover {
    cursor: pointer;
    background-color: rgb(226, 253, 190);
}

.form button {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #87e26e;
    transition: 0.3s;
}

.errorMessage {
    color: rgb(245, 9, 9);
}
