.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  height: calc(100vh - 180px);
}
  
.title {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
.label {
  font-size: 18px;
  font-weight: bold;
}
  
.textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 100px; 
  resize: vertical; 
}
  
.button {
  padding: 10px 20px;
  font-size: 16px;
  max-width: fit-content;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}
  
.button:hover {
  background-color: #83acef;
}

.success_message {
  color: green;
  margin-top: 10px;
}
  