.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 2rem;
    background-color: rgb(252, 252, 250);
  }
  
  .content {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }
  
  .description {
    font-size: 1.5rem;
    color: #666;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  .button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register {
    background-color: #4CAF50;
    color: rgb(73, 61, 61);
  }
  
  .register:hover {
    background-color: #77b979;
    color: white;
    transition: 0.3s;
  }
  
  .login {
    background-color: #3498db;
    color:  rgb(73, 61, 61);
  }
  
  .login:hover {
    background-color: #6e96b1;
    color: white;
    transition: 0.3s;
  }
  
  @media (min-width: 768px) {
 
    .buttons {
      flex-direction: row;
      align-items: center;
    }
    .button {
        padding: 1rem;
        font-size: 1rem;
      }
  }