.navbar{
    height: 70px;
    background-color:   rgb(220, 245, 156);
    display: flex;
    padding: 10px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

.logo{
 height: 150px;
 width: 180px;
}

.menu{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.menu li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu li a:hover{
    color: rgb(43, 156, 237);
   
}

.menuBurger{
    height: 20px;
    width: 20px;
}

.navButton{
    display: flex;
}

.mobileMenuWrapper{
    position: absolute;
    width: 100%;
    height: calc(100% - 110px);
    background-color: rgb(247, 249, 245);
    transition: .3s;
}

.menuClosed{
    right:900px
}

.menuOpen{
    right:0px
}

.mobileMenu{
display: flex;
flex-direction: column;
gap: 20px;
list-style-type: none;
}

.mobileMenu li a{
    text-decoration: none;
    color: rgb(41, 123, 198);
    font-weight: 500;
}

.mobileMenu li:hover{
    background-color:rgb(225, 253, 252);
    padding: 10px;
}


@media only screen and (max-width: 768px) {
    .menu{
        display: none;
    }

    .logo{
        height: 100px;
        width: 110px;
    }

  }

  @media only screen and (min-width: 768px) {

    .navButton{
        display: none;
    }

    .mobileMenuWrapper{
        display: none;
    }
  }