.card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.card:hover {
  border: solid 2px #e7e4e4;
}

.link {
  text-decoration: none;
  color: #333;
}

.link:hover {
  text-decoration: none;
  color: #147008;
}

.questionText {
  font-size: 1.5rem;
  margin-bottom: 10px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.answersCount {
  font-size: 14px;
  color: #888;
}
